.Nonogram {
  display: flex;
  flex-direction: column;
  border: 1px solid red;

  .firstRow {
    display: flex;
  }
  .empty {

  }
  .horizontalInfo {
    display: flex;
    background-color: #0f0;
    .hBitList {
      flex: 1;
      display: flex;
      flex-direction: column;
      .bit {
        flex: 1;
      }
    }
  }
  .secondRow {
    display: flex;
  }
  .verticalInfo {
    background-color: #ff0;
  }
  .matrix {

  }

}