.Nonogram {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .firstRow {
    display: flex;
  }
  .empty {

  }
  .horizontalInfo {
    background-color: lighten(#0f0, 40%);
  }
  .secondRow {
    display: flex;
  }
  .verticalInfo {
    background-color: lighten(#ff0, 40%);
  }
  .matrix {

  }

}